@tailwind base;
@tailwind components;
@tailwind utilities;




header a {
  @apply text-white;
}

html,body {
  background-color: #F3F4F6;
  @apply h-full;

}

header a.active {
  @apply font-bold;
  @apply transition-all;
}

.post-card {
  width: 450px;
  margin: 0;
}